@import url('https://fonts.googleapis.com/css2?family=Domine&family=Quantico:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
.wrapper {
    margin: 0px;
    width: 100vw;
    height: 30vh;
    background: url();
    /* background-color: #d6d6d6; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%238e8e8e' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); */
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: black; */
    z-index: -1;
}

.aboutus {
    margin-top: 100px;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/group-of-business-people-meeting-discussing-analyzing-graphs-data-picture-id1295309857?b=1&k=20&m=1295309857&s=170667a&w=0&h=kunm63HuraTjURiUBpkfk6mXfQPT6RLcqdBcLVCkCbI=);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.aboutus h1 {
    font-size: 45px;
    color: white;
    font-weight: 500;
    font-family: 'quantico';
}

#about {
    position: relative;
    width: 100%;
    height: 500px;
}

.belowimg {
    position: absolute;
    padding: 0px 0px;
    width: 1200px;
    height: 500px;
    top: -15%;
    left: -3%;
    display: flex;
    justify-content: center;
}

.belowimg .image {
    display: block;
    width: 500px;
    height: 480px;
    position: relative;
}

.belowimg .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col {
    position: relative;
    padding: 20px;
    width: 500px;
    height: 400px;
    background-color: rgb(189, 189, 189);
}

.data {
    position: relative;
    padding: 40px;
    display: block;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.data h1 {
    font-weight: 700;
    font-size: 25px;
    color: black;
    font-family: 'Roboto Slab', serif;
}

.data p {
    font-size: 15px;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.journey {
    width: 100%;
}

.journey h2 {
    text-align: center;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

.timeline {
    position: relative;
}

.timeline .timecontent {
    width: 500px;
    flex-wrap: wrap;
    padding: 18px;
}

.timeline .timeimg {
    width: 500px;
    height: 500px;
}

.timeimg img {
    width: 100%;
    height: 100%;
    margin-left: 500px;
}

.vision {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-left: 140px;
}

.vision img {
    width: min-content;
    height: 500px;
}

.visionone {
    position: absolute;
    top: 65px;
    left: 500px;
}

.visiontwo {
    position: absolute;
    top: 209px;
    left: 520px;
}

.visionthree {
    position: absolute;
    top: 350px;
    left: 500px;
}

.visionone p {
    margin-top: -12px;
}

.visiontwo p {
    margin-top: -12px;
}

.visionthree p {
    margin-top: -12px;
}